<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load bootstrap5 %}
    {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="card position-absolute top-50 start-50 translate-middle p-2 w-25 shadow-lg bg-body-tertiary">
                <div class="card-body">
                   <h2>Inserir avaliações</h2>
                   <form action="">
                    <label for="nome" class="form-label">Nome do Aluno</label>
                    <input type="text" class="form-control">
                    <label for="matricula" class="form-label">Matricula</label>
                    <input type="text" class="form-control">
                    <button type="submit" class="btn btn-primary mt-3">Enviar</button>
                   </form>
                </div>
            </div>
</body>