<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load bootstrap5 %}
    {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="card position-absolute top-50 start-50 translate-middle p-2 w-25 shadow-lg bg-body-tertiary">
        <div class="card-body ">
            <form action="" method="post">
                <h2>Cadastro de professores</h2>
                <label for="cad_matricula_prof">Matricula do professor</label>
                <input type="text" class="form-control">
                <label for="nome_proef">Nome do professor</label>
                <input type="text" class="form-control">
                <label for="senha_prof">Senha do professor</label>
                <input type="text" class="form-control">
                <button type="submit" class="btn btn-primary mt-2">Cadastra</button>
            </form>
        </div>
    </div>
</body>