<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load bootstrap5 %}
    {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="card position-fixed top-50 start-50 translate-middle p-4 shadow-lg bg-body-tertiary"
         style="max-width: 400px; width: 90%;">
                <div class="card-body">
                   <h2>Inserir avaliações</h2>
                   <form action="">
                    <label for="tipo" class="form-label">Tipo de avaliação</label>
                    <input type="text" class="form-control mb-3">
                    <label for="data" class="form-label">Data</label>
                    <input type="date" class="form-control mb-3">
                    <label for="descrica" class="form-label">Descrição</label>
                    <textarea class="form-control mb-3" aria-label="With textarea"></textarea>
                    <button type="submit" class="btn btn-primary w-50">Enviar</button>
                    <a class="btn btn-danger" href="{% url 'home_professores' %}">Voltar</a>
                   </form>
                </div>
            </div>
</body>