<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% load bootstrap5 %}
        {% load static %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <nav class="navbar p-1 border-bottom border-black">
            <div class="container-fluid">
                <a class="navbar-brand text-black fs-2" href="{% url 'home' %}">SGNF</a>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Acesse sua conta
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'login'%}">Aluno(a)</a></li>
                        <li><a class="dropdown-item" href="{% url 'login' %}">Professor(a)</a></li>
                        <li><a class="dropdown-item" href="{% url 'login_admin' %}">Adminsitrador</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div style="height: 45rem;">
            <img src="{%static 'HOME_SGNF.png'%}" class="w-100 h-100" alt="home">
        </div>
    </body>
</html>