<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body class="">
        <nav class="navbar p-1 border-bottom">
            <div class="container-fluid">
                <a class="navbar-brand text-black fs-2" href="#">SGNF</a>
                <button class="btn btn-outline-primary ms-auto my-2 my-sm-0" type="submit">Acessar conta</button>   
            </div>
        </nav>
    </body>
</html>