<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% load bootstrap5 %}
        {% load static %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <div class="card position-absolute top-50 start-0 translate-middle-y ms-3 p-2 w-25">
            <div class="card-body ">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="aluno">Aluno</option>
                    <option value="professor">Professor</option>
                    <option value="adminstrador">Adminstrador</option>
                    </select>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </body>
</html>