<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% load bootstrap5 %}
        {% load static %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <div class="card position-absolute top-50 start-50 translate-middle p-2 w-25 shadow-lg bg-body-tertiary">
            <div class="card-body ">
                <form>
                    <h2>Acesse sua conta</h2>
                    <label class="form-label">Matricula</label>
                    <input type="text" for="matricula" class="form-control">
                    <label class="form-label">Senha</label>
                    <input type="password" for="senha" class="form-control">
                </form>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </div>
    </body>
</html>