<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load bootstrap5 %}
    {% load static %}
    {% load bootstrap_icons %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary p-1 border-bottom border-black">
        <div class="container-fluid">
        <a class="navbar-brand text-black fs-2" href="{% url 'home' %}">SGNF</a>
            <a class="btn">
                {% bs_icon 'person-circle' size='1.8em'%}
            </a>
            </div>
    </nav>
    <div class="container container my-4 px-3">
        <div class="row mb-3">
            <div class="col">
            <div class="card p-1" style="width: 10em; height: 5em;">
                <div class="card-body"  style="width: 10em; height: 5em;">
                    <h4>Média Geral:</h4>
                </div>
            </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col">
                <div class="card w-75">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Avaliações</th>
                                        <th>Notas</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in registro %}
                                    <tr>
                                        <td>{{ item.avaliacao.tipo }}</td>
                                        <td>{{ item.valor }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </body>
